
.contacts-window{
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 120px;
    background-color: $grey;
    .fullsize{
        background-color: #ffffff;
        opacity: 1;
        display: flex;
        justify-content: center;
        .newCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 80%;
            height: 50%;
            background-color: #ffffff;
            .cross{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                margin-bottom: -25px;
                z-index: 3;
                width: 100%;
                i{
                    width: 14px;
                    height: 14px;
                }
            }
            .addContact{
                width: 90%;
                background-color: $white;
                .importantData{
                    margin-left: 32px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-evenly;
                    background-color: blue;
                    border-radius: 6px;
                    height: 50px;
                    padding-bottom: 10px;
                    img{
                        width: 8%;
                        height: 8%;
                        border-radius: 25%;
                    }
                    .nameCont{
                        display: flex;
                        flex-direction: column;
                        color: #ffffff;
                        input{
                            border-radius: 6px;
                            height: 80%;
                        }
                    }
                    .lastCont{
                        display: flex;
                        flex-direction: column;
                        color: #ffffff;
                        input{
                            border-radius: 6px;
                            height: 80%;
                        }
                    }
                    .jobCont{
                        display: flex;
                        flex-direction: column;
                        color: #ffffff;
                        input{
                            border-radius: 6px;
                            height: 80%;
                        }
                    }
                    .emailCont{
                        display: flex;
                        color: #ffffff;
                        flex-direction: column;
                        input{
                            border-radius: 6px;
                            height: 80%;
                        }
                    }
                    .companyCont{
                        display: flex;
                        color: #ffffff;
                        flex-direction: column;
                        input{
                            border-radius: 6px;
                            height: 80%;
                        }
                    }
                }
                .secondaryData{
                    display: flex;
                    flex-direction: row;
                    background-color: #ffffff;
                    justify-content: space-between;
                    margin-left: 32px;
                    margin-top: 25px;
                    height: 50px;
                    .regionCont{
                        display: flex;
                        flex-direction: column;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .countryCont{
                        display: flex;
                        flex-direction: column;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .cityCont{
                        display: flex;
                        flex-direction: column;
                        select{
                            border-radius: 6px;
                            height: 80%;
                            width: 150px;
                        }
                    }
                    .addressCont{
                        display: flex;
                        flex-direction: column;
                        input{
                            border-radius: 6px;
                            height: 80%;
                            width: 150px;
                        }
                    }
                    .intrestCont{
                        display: flex;
                        flex-direction: column;
                        .inputCont{
                            select{
                                border-radius: 6px;
                                height: 80%;
                                width: 150px;
                            }
                        }
                    }
                }
                .thirdData{
                    display: flex;
                    flex-direction: row;
                    background-color: #ffffff;
                    width: 100%;
                    justify-content: space-between;
                    margin-left: 32px;
                    height: 50px;
                    margin-top: 25px;
                    .contactCont{
                        display: flex;
                        flex-direction: column;
                        margin-right: 16px;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .userAccount{
                        display: flex;
                        flex-direction: column;
                        margin-right: 16px;
                        input{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .preffCont{
                        display: flex;
                        flex-direction: column;
                        margin-right: 16px;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .addCont{
                        display: flex;
                        align-items: flex-end;
                        margin-right: 16px;
                        button{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                }
            }
            .button{
                width: 5%;
                height: 5%;
                align-items: flex-end;
                justify-content: flex-end;
                .save{
                    color: blue;
                }            
                
            }
        }
    }
}