
.contacts-window{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 120px;
    background-color: $grey;
    .fullsize{
        z-index: 1000;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,0.9);
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .newCard{
            position: absolute;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            border-radius: 5px;
            align-self: center;
            justify-content: center;
            width: 68%;
            .cross{
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                margin-right: -10%;
                z-index: 1005;
                i{
                    width: 14px;
                    height: 14px;
                    color: $white;
                }
            }
            .addContact{
                background-color: $white;
                .importantData{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    background-color: $mainBlue;
                    height: 50px;
                    padding-bottom: 10px;
                    padding-top: 15px;
                    img{
                        width: 8%;
                        height: 8%;
                        border-radius: 25%;
                    }
                    .nameCont{
                        display: flex;
                        flex-direction: column;
                        color: #ffffff;
                        input{
                            border-radius: 6px;
                            height: 80%;
                            padding-left: 5px;
                        }
                    }
                    .lastCont{
                        display: flex;
                        flex-direction: column;
                        color: #ffffff;
                        input{
                            border-radius: 6px;
                            height: 80%;
                            padding-left: 5px;
                        }
                    }
                    .jobCont{
                        display: flex;
                        flex-direction: column;
                        color: #ffffff;
                        input{
                            border-radius: 6px;
                            height: 80%;
                            padding-left: 5px;
                        }
                    }
                    .emailCont{
                        display: flex;
                        color: #ffffff;
                        flex-direction: column;
                        input{
                            border-radius: 6px;
                            height: 80%;
                            padding-left: 5px;
                        }
                    }
                    .companyCont{
                        display: flex;
                        color: #ffffff;
                        flex-direction: column;
                        input{
                            border-radius: 6px;
                            height: 80%;
                            padding-left: 5px;
                        }
                    }
                }
                .secondaryData{
                    display: flex;
                    flex-direction: row;
                    background-color: $white;
                    justify-content: space-between;
                    padding-left: 32px;
                    padding-right: 20px;
                    margin-top: 25px;
                    height: 50px;
                    .regionCont{
                        display: flex;
                        flex-direction: column;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .countryCont{
                        display: flex;
                        flex-direction: column;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .cityCont{
                        display: flex;
                        flex-direction: column;
                        select{
                            border-radius: 6px;
                            height: 80%;
                            width: 150px;
                        }
                    }
                    .addressCont{
                        display: flex;
                        flex-direction: column;
                        input{
                            border-radius: 6px;
                            height: 80%;
                            width: 150px;
                            padding-left: 5px;
                        }
                    }
                    .intrestCont{
                        display: flex;
                        flex-direction: column;
                        .inputCont{
                            select{
                                border-radius: 6px;
                                height: 80%;
                                width: 150px;
                            }
                        }
                    }
                }
                .thirdData{
                    display: flex;
                    flex-direction: row;
                    background-color: #ffffff;
                    justify-content: space-between;
                    padding-left: 32px;
                    padding-right: 20px;
                    height: 50px;
                    margin-top: 25px;
                    padding-bottom: 20px;
                    .contactCont{
                        display: flex;
                        flex-direction: column;
                        margin-right: 16px;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .userAccount{
                        display: flex;
                        flex-direction: column;
                        margin-right: 16px;
                        input{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                            padding-left: 5px;
                        }
                    }
                    .preffCont{
                        display: flex;
                        flex-direction: column;
                        margin-right: 16px;
                        select{
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                        }
                    }
                    .addCont{
                        display: flex;
                        align-items: flex-end;
                        button{
                            color: $mainBlue;
                            border-color: $mainBlue;
                            background-color: $white;
                            font-family: $openSans;
                            font-size: 16px;
                            border-radius: 6px;
                            width: 150px;
                            height: 80%;
                            &:hover{
                                background-color: $secondBlue;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .Send{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                margin-right: 10px;
                height: 40px;
                padding-bottom: 10px;
                font-family: $openSans;
                .primary_btn{
                    color: $white;
                    background-color: $mainBlue;
                    height: 35px;
                    margin-right: 15px;
                    font-size: 16px;
                    border-radius: 4px;
                    width: 150px;
                    &:hover{
                        background-color: $secondBlue;
                    }
                }            
                .secondary_btn{
                    color: $mainBlue;
                    background-color: $white;
                    border-color: $mainBlue;
                    height: 35px;
                    font-size: 16px;
                    border-radius: 4px;
                    width: 100px;
                    &:hover{
                        background-color: $secondBlue;
                        color: $white;
                    }
                }
            }
        }
    }
}