.MainCont{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .modal{
        z-index: 1000;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,0.9);
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content {
            position: absolute;
            background-color: white;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            border-radius: 5px;
            align-self: center;
            justify-content: center;
            width: 40%;
            height: auto;
            h2{
                font-family: $openSans;
                background-color: $mainBlue;
                color: $white;
                padding-left: 15px;
                height: 10%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .modal-form{
                display: flex;
                flex-flow: row, wrap;
                padding-top: 27px;
                padding-bottom: 27px;
                font-family: $openSans;
                .add-new-company{
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;

                    .company{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        font-size: 16px;
                        input{
                            width: 30%;
                        }
                    }
                    .phone{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        font-size: 16px;
                        input{
                            width: 30%;
                        }
                    }
                    .location{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        font-size: 16px;
                        select{
                            width: 30.8%;
                        }
                    }
                    .address{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        font-size: 16px;
                        input{
                            width: 30%;
                        }
                    }
                }
            }
            .btn-grp {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 15px;
                height: 10%;
                .btn-primary{
                    font-family: $openSans;
                    background-color: $mainBlue;
                    border-color: $mainBlue;
                    color: $white;
                    width: 20%;
                    margin-right: 10px;
                    font-size: 16px;
                    border-radius: 5px;
                    &:hover{
                        background-color: $secondBlue;
                    }
                }
                .btn-danger{
                    font-family: $openSans;
                    background-color: $white;
                    border-color: $mainBlue;
                    color: $mainBlue;
                    width: 15%;
                    margin-right: 10px;
                    border-radius: 5px;
                    &:hover{
                        background-color: $secondBlue;
                        color: $white;
                    }
                }
            }
        }
        }
    .headCont{
        display: flex;
        flex-direction: column;
        width: 70%;
        align-self: center;
        justify-content: center;
        .table{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 20px;
            background-color: $mainBlue;
            height: 50px;
            color: $white;
            font-size: 16px;
            padding-top: 20px;
            border-radius: 15px;
            .Hname{
                font-family: $openSans;
                width: 15%;
                margin-left: 2%;
    
            }
            .Hcity{
                font-family: $openSans;
                margin-left: 5%;
                width: 10%;
    
            }
            .Haddress{
                font-family: $openSans;
                margin-left: 5%;
                width: 10%;
            }
            .Hphone{
                font-family: $openSans;
                margin-left: 5%;
                width: 10%;
            }
            .Hbuttons{
                display: flex;
                flex-direction: row;
                margin-left: 5%;
                width: 10%;
                justify-content: space-around;
                font-family: $openSans;
            }
            }
    
        .Companies{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-self: center;
            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-top: 30px;
                padding-top: 10px;
                border-top:  $grey solid 2.5px;
                .name{
                    font-family: $openSans;
                    width: 15%;
                    margin-left: 2%;
                }
                .city{
                    font-family: $openSans;
                    margin-left: 5%;
                    width: 10%;
                }
                .address{
                    font-family: $openSans;
                    margin-left: 5%;
                    width: 10%;
                }
                .phone{
                    font-family: $openSans;
                    margin-left: 5%;
                    width: 10%;
                }
                .edit-button{
                    display: flex;
                    flex-direction: row;
                    margin-left: 5%;
                    width: 10%;
                    justify-content: space-around;
                    .icon{

                        &:hover{
                            color: $mainBlue;
                            cursor: pointer;
                        }
                    }
                }
            }
            .add-company{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 50px;
                .button{
                    background-color: $white;
                    font-family: $openSans;
                    font-size: 18px;
                    width: 150px;
                    border-radius: 10px;
                    color: $secondBlue;
                    border-color: $secondBlue;
                    &:hover{
                        color: $white;
                        background-color: $secondBlue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}