.first-area{
    height: 150px;
    margin-left: 2.2%;
    .contact{
        font-family: $openSans;
        font-size: 16px;
        margin-top: 40px;
        margin-right: 2%;
    }
    .search-bar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 21px;
        justify-content: space-between;
        margin-right: 2%;
        margin-left: 2%;
        .left{
            width: 48%;
            display: flex;
            flex-direction: row;
            .bar{
                width: 500px;
                height: 41px;
                border: 1px solid #e8e8e8;
                border-radius: 4px;
                display: flex;
                flex-wrap: nowrap;
                input{
                    width: 100%;
                    height: 41px;
                    border: none;
                    font-size: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                    &:focus{
                        border-color: transparent;
                    }
                    &:checked {
                        background-color: $grey;
                    }
                }
                i{
                    display: flex;
                    align-items: center;
                    margin-left: -20px;
                    //margin-top: -10px;
                    padding-top: -5px;
                    color: #e8e8e8;
                }
            }
            .search-button{
                width: 41px;
                height: 41px;
                margin-left: 9px;
                background-color: #fff;
                border: 1px solid #e8e8e8;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: #0683F9;
                    font-size: 17px;
                }
                &:hover{
                    background-color: $secondBlue;
                    i{
                        color: $white;
                    }
                }
            }
        }
        .right{
            width: 415px;
            margin-right: 28px;
            .buttons{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .upload{
                    width: 41px;
                    height: 41px;
                    border: 1.5px solid #0683F9 ;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        color: #0683F9;
                        font-size: 18px;
                    }
                    &:hover{
                        background-color: $secondBlue;
                    i{
                        color: $white;
                    }
                    }
                }
                .export{
                    width: 172px;
                    height: 41px;
                    border: 1.5px solid #0683F9 ;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h3{
                        font-family: 'Open Sans', sans-serif;
                        font-weight: normal;
                        font-size: 14px;
                        color: #0683F9;
                    }
                    i{
                        margin-left: 10px;
                        color: #0683F9;
                    }
                    &:hover{
                        background-color: $secondBlue;
                        h3{
                            color: $white;
                        }
                    i{
                        color: $white;
                    }
                    }
                }
                .addContact{
                    width: 172px;
                    height: 41px;
                    border: 1.5px solid $mainBlue ;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $mainBlue;
                    h3{
                        font-family: 'Open Sans', sans-serif;
                        font-weight: normal;
                        font-size: 14px;
                        color: #e8e8e8;
                    }
                    &:hover{
                        background-color: $secondBlue;
                        border-color: $secondBlue;
                    h3{
                        color: $white;
                    }
                    }
                }
            }
        }
    }
    .filter{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        .n-selected-tag {
            background: #8ec7fcd0;
            color: #0683F9;
            border-radius: 4px;
            height: 24px;
            text-align: center;
            align-self: flex-end;
            margin-bottom: 5px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
            font-family: $openSans;
            cursor: pointer;
        }
        .delete-contacts {
            margin-bottom: 10px;
            color: $mainBlue;
            margin-right: 3%;
            background: #8ec7fcd0;
            color: #0683F9;
            border-radius: 4px;
            margin-bottom: 5px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
            padding-right: 10px;
            font-family: $openSans;
            cursor: pointer;
            img {
                width: 12px;
                height: 15px;
                margin-right: 10px;
                fill: $mainBlue;
            }
            align-self: flex-end;
        }
    }
    //#table-actions {
    //}
    //.filter{
    //    width: 100%;
    //    margin-left: 2%;
    //    position: relative;
    //    .filterContainer{
    //        position: absolute;
    //        display: block;
    //        background-color: $white;
    //        width: 33.23%;
    //        border: solid 1px $grey;
    //        margin-top: 0.3%;
    //        .options{
    //            display: flex;
    //            flex-direction: column;
    //            align-items: stretch;
    //            padding-left: 2%;
    //            padding-right: 2%;
    //            font-family: $openSans;
    //            font-size: 14px;
    //            .contactName{
    //                display: flex;
    //                flex-direction: row;
    //                margin-top: 2%;
    //                label{
    //                    width: 42%;
    //                }
    //                input{
    //                    width: 58%;
    //                    font-family: $openSans;
    //                    font-size: 14px;
    //                    border: none;
    //                    border-bottom: solid 1px $grey;
    //                    padding-left: 5px;
    //                    outline: none;
    //                }
    //            }
    //            .job{
    //                display: flex;
    //                flex-direction: row;
    //                
    //                margin-top: 4%;
    //                label{
    //                    width: 42%;
    //                }
    //                input{
    //                    width: 58%;
    //                    font-family: $openSans;
    //                    font-size: 14px;
    //                    border: none;
    //                    border-bottom: solid 1px $grey;
    //                    padding-left: 5px;
    //                    outline: none;
    //                }
    //            }
    //            .country{
    //                display: flex;
    //                flex-direction: row;
    //                margin-top: 4%;
    //                label{
    //                    width: 42%;
    //                }
    //                select{
    //                    width: 40%;
    //                    font-family: $openSans;
    //                    font-size: 14px;
    //                    padding-top: 1%;
    //                    padding-bottom: 1%;
    //                }
    //            }
    //            .company{
    //                display: flex;
    //                flex-direction: row;
    //                
    //                margin-top: 4%;
    //                label{
    //                    width: 42%;
    //                }
    //                select{
    //                    width: 40%;
    //                    font-family: $openSans;
    //                    font-size: 14px;
    //                    padding-top: 1%;
    //                    padding-bottom: 1%;
    //                }
    //            }
    //            .channel{
    //                display: flex;
    //                flex-direction: row;
    //                
    //                margin-top: 4%;
    //                label{
    //                    width: 42%;
    //                }
    //                select{
    //                    width: 40%;
    //                    font-family: $openSans;
    //                    font-size: 14px;
    //                    padding-top: 1%;
    //                    padding-bottom: 1%;
    //                }
    //            }
    //            .interest{
    //                display: flex;
    //                flex-direction: row;
    //                align-items: center;
    //                margin-top: 4%;
    //                margin-bottom: 4%;
    //                label{
    //                    width: 42%;
    //                }
    //                select{
    //                    width: 40%;
    //                    font-family: $openSans;
    //                    font-size: 14px;
    //                    padding-top: 1%;
    //                    padding-bottom: 1%;
    //                }
    //            }
    //        }
    //    }
    //}
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2%;
    margin-right: 2%;
    //margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid 0.5px $grey;
    .table-head{
        display: flex;
        flex-direction: row;
        margin-right: 0,6%;
        height: 12.8px;
        align-items: flex-end;
        margin-top: 6px;
        margin-left: -0.3%;
        margin-right: 0.3%;
    }
    .contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 12%;
        h4{
            margin-right: 15px;
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 20px;
        }
    }
    .Region{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 13.6%;
        h4{
            margin-right: 15px;
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 20px;
        }
    }
    .Compania{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 13.6%;
        h4{
            margin-right: 15px;
            font-family: 'Open Sans', sans-serif;
            font-weight: lighter;
            font-size: 20px;
        }
    }
    .job{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 10%;
        justify-content: center;
        h4{
            margin-right: 15px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: lighter;
        }
    }
    .prefCanal{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 13.6%;
        justify-content: center;
        h4{
            margin-right: 15px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: lighter;
        }
    }
    .interest{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 13%;
        h4{
            margin-right: 15px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: lighter;
        }
    }
    .actions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 6%;
        h4{
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: lighter;
        }
    }

}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    font-family: $openSans;
    color: $darkergrey;
    .numberOfContacts{
        width: 15%;
        display: flex;
        select{
            margin-left: 5%;
            font-family: $openSans;
        }
    }
    .page{
        display: flex;
        flex-direction: row;
        font-family: $openSans;
        .prev{
            cursor: pointer;
            margin-left: 20px;
        }
        .next{
            cursor: pointer;
            margin-left: 20px;
        }
    }
}