$openSans: 'Open Sans', sans-serif;


//colours

$mainBlue: #1D72C2;
$secondBlue: #0683f9;
$thirdBlue: rgb(142, 199, 252);
$forthBlue: #1cc1f5;
$white:#ffffff;
$black:#000000;
$green:#429c41;
$firstRed:#bb3e3f;
$secondRed:#de0028;
$orange:#ff6f00;
$yellow:#ffc700;
$grey:#e8e8e8;
$darkgrey:#e8e8e886;
$darkergrey: #e8e8e818

