.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background: #1d72c2;
  height: 60px;
}

.menu .logo {
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 30px;
}

.menu nav {
  height: 100%;
}

.menu nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  height: 100%;
}

.menu nav .nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-top: 0;
  margin-left: 20px;
  height: 100%;
}

.menu nav .nav-links li :hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  margin-bottom: 3px;
}

.menu nav .nav-links li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #e8e8e8;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.menu nav .nav-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #e8e8e8;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.first-area {
  height: 150px;
  margin-left: 2.2%;
}

.first-area .contact {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-right: 2%;
}

.first-area .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 21px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
}

.first-area .search-bar .left {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.first-area .search-bar .left .bar {
  width: 502px;
  height: 41px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.first-area .search-bar .left .bar input {
  width: 475px;
  height: 41px;
  border: none;
  font-size: 20px;
}

.first-area .search-bar .left .bar i {
  margin-left: 5px;
  margin-top: -10px;
  padding-top: -5px;
  color: #e8e8e8;
}

.first-area .search-bar .left .search-button {
  width: 41px;
  height: 41px;
  margin-left: 9px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-area .search-bar .left .search-button i {
  color: #0683F9;
  font-size: 17px;
}

.first-area .search-bar .right {
  width: 415px;
  margin-right: 28px;
}

.first-area .search-bar .right .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.first-area .search-bar .right .buttons .upload {
  width: 41px;
  height: 41px;
  border: 1.5px solid #0683F9;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-area .search-bar .right .buttons .upload i {
  color: #0683F9;
  font-size: 18px;
}

.first-area .search-bar .right .buttons .export {
  width: 172px;
  height: 41px;
  border: 1.5px solid #0683F9;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-area .search-bar .right .buttons .export h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #0683F9;
}

.first-area .search-bar .right .buttons .export i {
  margin-left: 10px;
  color: #0683F9;
}

.first-area .search-bar .right .buttons .addContact {
  width: 172px;
  height: 41px;
  border: 1.5px solid #0683F9;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d72c2;
}

.first-area .search-bar .right .buttons .addContact h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #e8e8e8;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.list .table-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 0,6%;
  height: 12.8px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 6px;
}

.list .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.3%;
}

.list .contact h4 {
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.list .Region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.6%;
}

.list .Region h4 {
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.list .Compania {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.6%;
}

.list .Compania h4 {
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.list .job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.6%;
}

.list .job h4 {
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.list .prefCanal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.6%;
}

.list .prefCanal h4 {
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.list .interest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13.6%;
}

.list .interest h4 {
  margin-right: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.list .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 6%;
}

.list .actions h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.contacts-window {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 120px;
  background-color: #ffffff;
}

.contacts-window .fullsize {
  background-color: #ffffff;
  opacity: 1;
}

.contacts-window .fullsize .newCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}

.contacts-window .fullsize .newCard .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: -25px;
  z-index: 3;
  width: 100%;
}

.contacts-window .fullsize .newCard .cross i {
  width: 14px;
  height: 14px;
}

.contacts-window .fullsize .newCard .addContact {
  width: 88.9%;
}

.contacts-window .fullsize .newCard .addContact .importantData {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: blue;
}

.contacts-window .fullsize .newCard .addContact .importantData img {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}

.contacts-window .fullsize .newCard .addContact .importantData .nameCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.contacts-window .fullsize .newCard .addContact .importantData .nameCont input {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .importantData .lastCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.contacts-window .fullsize .newCard .addContact .importantData .lastCont input {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .importantData .jobCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.contacts-window .fullsize .newCard .addContact .importantData .jobCont input {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .importantData .emailCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-window .fullsize .newCard .addContact .importantData .emailCont input {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .importantData .companyCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-window .fullsize .newCard .addContact .importantData .companyCont input {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .secondaryData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 32px;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .regionCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .regionCont select {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .countryCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .countryCont select {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .cityCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .cityCont select {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .addressCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .addressCont input {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .intrestCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-window .fullsize .newCard .addContact .secondaryData .intrestCont .inputCont select {
  width: 70px;
  height: 35px;
}

.contacts-window .fullsize .newCard .addContact .thirdData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 32px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .contactCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 16px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .contactCont select {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .userAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 16px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .userAccount input {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .preffCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 16px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .preffCont select {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .addCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 16px;
}

.contacts-window .fullsize .newCard .addContact .thirdData .addCont button {
  width: 190px;
  height: 35.5px;
}

.contacts-window .fullsize .newCard .button {
  width: 5%;
  height: 5%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-window .fullsize .newCard .button .save {
  color: blue;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #ffffff;
  height: 100vh;
}

.login .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 3px #1D72C2;
  border-radius: 10px;
  width: 25%;
  height: 325px;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0683f9;
  margin-top: -50px;
}

.login .center .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  -ms-flex-item-align: center;
      align-self: center;
  width: 95%;
}

.login .center .form .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 25px;
}

.login .center .form .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 90%;
  color: #ffffff;
  margin-top: 10px;
}

.login .center .form .user input {
  height: 25px;
  border-radius: 5px;
}

.login .center .form .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  color: #ffffff;
}

.login .center .form .password input {
  border-radius: 5px;
  height: 25px;
}

.login .center .form .loged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  color: #ffffff;
  margin-top: 20px;
}

.login .center .form button {
  height: 30px;
  margin-top: 15px;
  background-color: #1D72C2;
  width: 90%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.createUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 3%;
}

.createUser .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.createUser .create .form {
  width: 350px;
  border: solid 3px #1D72C2;
  background-color: #1D72C2;
  padding-left: 15px;
  padding-right: 15px;
  height: 375px;
}

.createUser .create .form .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  height: 10%;
  font-size: 30px;
  color: #ffffff;
}

.createUser .create .form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 25px;
  margin-top: 20px;
  color: #ffffff;
}

.createUser .create .form .name input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.createUser .create .form .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 25px;
  margin-top: 20px;
  color: #ffffff;
}

.createUser .create .form .last input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.createUser .create .form .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 25px;
  color: #ffffff;
}

.createUser .create .form .email input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.createUser .create .form .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 25px;
  color: #ffffff;
}

.createUser .create .form .user input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.createUser .create .form .password1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 25px;
  margin-top: 20px;
  color: #ffffff;
}

.createUser .create .form .password1 input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.createUser .create .form .password2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 25px;
  margin-top: 20px;
  color: #ffffff;
}

.createUser .create .form .password2 label {
  width: 75px;
}

.createUser .create .form .password2 input {
  height: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.createUser .create .form .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 20px;
}

.createUser .create .form .create button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 35px;
  width: 25%;
  background-color: #8ec7fc;
  color: #ffffff;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */